  <div class="container-fluid">
        <div class="row">

          <div class="col-md-2 atm atm_left">
              <a href="#"><img src="img/bullhorn.svg">
                <p>ПОЗВАТЬ ОФИЦИАНТА</p>
              </a>
          </div>

          <div class="col-md-8 atm">
			         <img class="logo" ng-src="http://localhost/tpl/img/logo.png">
          </div>

          <div class="col-md-2 atm atm_right">
            <a id="btn_basket_right" href="#"><span class="badge">13</span><img src="img/basket.svg">
              <p>ВАШ ЗАКАЗ:</p><b>19 856 <sup>тг.</sup></b>
            </a>
          </div>

        </div>
    </div>
    <nav ng-controller="GetNavCtrl">
      <div class="container-fluid">
          <div class="row">
            <div class="frame">
              <ul class="nav navbar-nav slide">
                <li ng-repeat="n in nav" ><a class="hvr-s" href="#/category/{{n.id}}"><img ng-src="{{n.icon}}"> <p>{{n.title}}</p></a></li>
              </ul>
            </div>
          </div>
      </div>
    </nav>
<script src="js/lib/menu-basket.js"></script>
