/* SMART-MENU 2016 Alpha 0.01	*/
/* UI	*/

body {
	font-family: "Roboto Slab", serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #33302e;
	background-color: #f3edea;
	width: 100%;
	height: 100%;
}

.mtop20 {margin-top: 20px;}
.mtop40 {margin-top: 40px;}
.mtop60 {margin-top: 60px;}
.mtop80 {margin-top: 80px;}
.mtop100 {margin-top: 100px;}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	background-image: url(../img/Dot.svg);
	width: 100%;
	height: 20px
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #35302d;
	border-radius: 11px;
}

.goback {
	width: 120px;
	height: 55px;
	position: fixed;
	background-color: #F3EDEA;
	border-radius: 30px;
	z-index: 9999;
	bottom: 35px;
	left: -30px;
}

.goback span {
	background: url(../img/left.svg);
  width: 40px;
  height: 40px;
  float: right;
  margin: 8px;
}

.label {
	display: inline;
	padding: 1px 10px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 3px;
}
a.label:hover,
a.label:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.label:empty {
	display: none;
}
.btn .label {
	position: relative;
	top: -1px;
}
.label-default {
	background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
	background-color: #5e5e5e;
}
.label-1 {background-color: #f5ca02;}
.label-2 {background-color: #81bb21;}
.label-3 {background-color: #00a4f0;}
.label-4 {background-color: #ff6000;}
.label-5 {background-color: #0ac2d8;}
.label-6 {background-color: #ff460c;}

.btn {
	display: inline-block;
	padding: 8px 45px;
	margin-bottom: 0;
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 25px;
}

.btn-default {
	color: #fff;
	background-color: #81bb21;
	border-bottom: 4px solid #74a81e;
}

.btn-order {
	color: #fff;
	background-color: #81bb21;
	border-bottom: 4px solid #74a81e;
}

.btn-del {
	color: #fff;
	background-color: #7B6960;
}

.btn-oficiant {
	color: #fff;
	background-color: #857771;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
}

/* END UI	*/
/* HEADING	*/

.atm {
	border-bottom: 3px solid #b5aba5;
	height: 80px;
	background-color: #fff;
	padding: 0;
	text-align: center;
 -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.3);
 -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.3);
}

.atm a {
	font-family: "Roboto Slab", serif;
	color: #fff;
	font-weight: bold;
	line-height: 1.1;
	font-size: 16px;
	display: block;
	margin: 0;
	padding: 14px 0px;
}

.atm a:hover { text-decoration: none;}
.atm .logo {	margin-top: 19px;}
.atm a p {margin-top: 8px; margin-bottom: 0;}

.atm a img {
	float: left;
	border-right: 1px solid #62544c;
	padding: 12px 15px;
	margin-right: 15px;
}

.atm_left {
	border-bottom: 3px solid #5c524c;
	background-color: #7b6960;
	text-align: left;
}

.atm_right {
	border-bottom: 3px solid #b30611;
	background-color: #e30613;
	text-align: left;
}

.atm_right .badge {
	position: absolute;
	left: 38px;
	border: 2px solid #e30613;
}

.atm_right a img { border-right: 1px solid #b30611; }
.atm_right a b { font-size: 24px; }
.atm_right a p { margin-top: 5px; }

/* END HEADING	*/
/* NAVIGATION	*/

nav {
	background-color: #35302d;
	float: left;
	width: 100%;
	border-bottom: 2px solid #7b716b;
}

.frame {
	float:right;
	position:relative;
	left:-50%;
	text-align:left;
}

.navbar-nav {
	list-style:none;
	position:relative;
	left:50%;
	border-left: 1px dashed #5c544f;
}

.navbar-nav li {
	border-right: 1px dashed #5c544f;
	width: 140px;
}

.navbar-nav li a {
	height: 97px;
	text-align: center;
	color: #bfb7b3; text-transform: uppercase;
}

.navbar-nav li .active {
	color: #f3edea;
	transition: all 1s;
}

.navbar-nav li a:hover {
	color: #f3edea;
	transition: all 1s;
}

.navbar-nav li a:hover > img{
	opacity: 1;
}

.navbar-nav li a:hover::after {
	content: '';
	position: absolute;
	left: 60px;
	top: 0;
	border: 8px solid transparent;
	border-top: 5px solid #b5aba5;

	}

.navbar-nav li a img {
	opacity: 0.5;
	margin-bottom: 8px;
	transition: all 1s;
}

/* END NAVIGATION	*/
/* CONTENT	*/
.center {
	text-align: center;
}

.price {
	font-size: 38px;
	font-weight: 600;
	color: #fff;
	line-height: 1;
	margin: 20px 0 40px;
}

.price sup { font-size: 26px;}
.price small {
	font-size: 21px;
	color: #e30613;
	text-decoration: line-through;
}

/* AUHT	*/

.colorbg {
	width: 100%;
	height: 100vh;
	background-color: rgba(28,26,26,0.95);
	padding: 45px 100px;
}

.auhtapp {
	width: 100%;
	height: 100vh;
	background-image: url(../img/auht_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.colorbg p {
	font-size: 14px;
	color: #857771;
	text-transform: uppercase;
}

.colorbg .offline {
	float: left;
	width: 9px;
	height: 9px;
	border-radius: 8px;
	background-color: #c40c0c;
	margin-top: 5px;
	margin-right: 10px;
}

.colorbg .online {
	float: left;
	width: 9px;
	height: 9px;
	border-radius: 8px;
	background-color: #81bb21;
	margin-top: 5px;
	margin-right: 10px;
}

.auhtcontent {
	border: 1px dashed #857771;
	border-radius: 10px;
	margin-top: 10px;
	height: 80vh;
	text-align: center;
}

.auhtcontent .logo {
	margin: 50px 0;
}

.auhtcontent .auhtpin {

}

.num {
	border: 1px solid #fff;
	border-radius: 10px;
	float: left;
	width: 60px;
	height: 60px;
	color: #fff;
	padding-top: 10px;
	font-size: 25px;
	margin: 0 15px 15px 0;
}

.red {border-color: #c40c0c;}
.auhtapp .btn-oficiant {margin-top: -23px;}

.keypad {margin-bottom: 30px;}

.auhtpin input {
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}

.auhtpin input:focus {
	outline-color: transparent;
}
.auhtpin .webkit input [type="password"] {
	font-size: 30px;
}

.error {
	display: inline-block;
	margin: 30px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

/* END AUHT	*/
/* OFFER	*/

.offer {
	margin: 0;
	padding: 0;
}

.offer .image {
	list-style-type: none;
	text-align: center;
	min-height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 63px;
}
.offer .image .semiopacity {	background-color: rgba(53, 48, 45, 0.8);}

.semiopacity {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.offer .image h1 {color: #fff; margin: 20px 0 0 0;}
.offer .image p {color: #fff; font-family: "Roboto", sans-serif; font-size: 16px;}

.slickb {
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.slick-prev {
	background-image: url(../img/slider_left.svg);
	left: 25px;
}

.slick-next {
	background-image: url(../img/slider_right.svg);
	right: 25px;
}

/* END OFFER	*/
/* DETAIL	*/

.detail {
	float: left;
	width: 100%;
}

.detail .image {
	float: left;
	width: 100%;
	height: 600px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.detail .image span {
	background-image: url(../img/full_hr.svg);
	width: 28px;
	height: 100%;
	float: right;
	margin-right: -15px;
}

.detail .content {
	padding: 50px 80px 30px 50px;
}


.detail .content .inform {
	float: right;
	color: #877d77;
}


.info {
	background-repeat: no-repeat;
	background-position-y: center;
	width: 14px;
	height: 15px;
	padding-left: 20px;
	margin: 0 10px;
	font-family: Roboto;
	font-style: italic;
	font-size: 14px;
	color: #877d77;
}
.detail .content .inform .time {background-image: url(../img/Clock.svg);}
.detail .content .inform .like {background-image: url(../img/Heart.svg);}
.detail .content .inform .callories {background-image: url(../img/Leaf.svg);}

.detail .content h1 {
	font-size: 32px;
	margin: 10px 0 30px;
}

.detail .content table {

}

.detail .content table thead {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.detail .content table thead tr {
}

.detail .content table thead tr th {
	border: none;
	padding-left: 20px;
}

.detail .content table tbody {

}

.detail .content table tbody tr {
	border-radius: 30px;
}

.detail .content table tbody tr td {
	border: none;
	padding-left: 20px;
	font-family: Roboto;
	font-weight: 500;
}

.detail .content p {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-style: italic;
}

.detail .content hr {
	border-top: 1px dashed #CEC4C0;
	margin-top: 20px;
	margin-bottom: 10px;
	background: none;
	width: inherit;
	height: 100%;
}

.detail .content .price {
	color: #35302d;
	margin: 0;
	margin-left: -15px;
}

.detail .content .add{
	position: fixed;
	bottom: 35px;
	z-index: 9999;
	right: 75px;
	width: 300px;
}

.detail .content .btn-del {
	border: 5px solid #F3EDEA;
	float: right;
}

.detail .content .btn-order {
	border: 5px solid #F3EDEA;
	float: right;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #e9e0db;
}

.down, .up {
	border: 1px solid #C5BEBA;
	padding: 10px 18px;
	font-family: Roboto;
	color: #C5BEBA;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 20px;
}

.detail .content select {
	width: 20px;
	float: right;
	height: 42px;
	margin-right: 10px;
	background: none;
	box-shadow: none;
	border: none;
	padding: 0;
	font-weight: bold;
	font-size: 23px;
	-webkit-appearance: none;
}

.detail .content mark {
	background: none;
	color: #7B746F;
	float: right;
	text-align: center;
	width: 180px;
}
/* END DETAIL	*/


/* END CONTENT	*/
/* FOOTER	*/

footer {
	height: 60px;
}

.footer-bg {
  background-color: #35302d;
  height: 60px;
  color: #857771;
  font-size: 21px;
  padding-top: 13px;
  line-height: 0.9;
  text-transform: uppercase;
}

.footer-bg a {
	font-family: "Roboto Slab", serif;
	color: #857771;
	font-size: 12px;
	padding-top: 30px;
}

/* END FOOTER	*/
/* ANIMATION	*/

/* Sweep To Bottom */
.hvr-s {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-s:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #4d4642;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-s:hover, .hvr-s:focus, .hvr-s:active {
	color: white;
}
.hvr-s:hover:before, .hvr-s:focus:before, .hvr-s:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}


.menu {
	position: fixed;
	z-index: 101;
	border: 1px dashed #fff;
	border-radius: 10px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	overflow: hidden;
	color: #fff;
	text-align: center;
}

.menu-basket {
	height: 700px;
	width: 1120px;
	margin: 50px 0;
	top: 0;
	right: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transform: translateX(1120px);
	-ms-transform: translateX(1120px);
	transform: translateX(1120px);
}

.menu-basket.is-active {
	-webkit-transform: translateX(-80px);
	-ms-transform: translateX(-80px);
	transform: translateX(-80px);
}

.mask {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0;
	-webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.has-active-menu {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.has-active-menu-blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
/* END ANIMATION	*/
