<!DOCTYPE html>
<html lang="en" ng-app="AppCtrl">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>SmartMenu - Просмотр блюда</title>
<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">

<!-- FONTS -->
</head>
<body>

  <div id="gray" ><div id="blur">
  <header ng-if="showSection" ng-include="'tpl/views/header.html'" ></header>

  <div id="o-wrapper"  class="content" ng-view></div>

  <footer ng-if="showSection" class="navbar-fixed-bottom" ng-include="'tpl/views/footer.html'" ></footer>

</div>
</div>

<div id="menu-basket" class="menu menu-basket" ng-include="'tpl/views/basket.html'"></div>

<div id="mask" class="mask"></div>
<!-- JS -->
<script src="js/lib/jquery-1.11.3.min.js"></script>
<script src="js/lib/menu-basket.js"></script>

<!-- Angular JS Lib-->
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-local-storage.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/ng-image-cache.js"></script>
<script src="js/lib/angular-touch.min.js"></script>
<script src="js/lib/slick.min.js"></script>
<script src="js/lib/slick.js"></script>

<!-- Angular JS Controller-->
<script src="js/controll/app.js"></script>
<script src="js/controll/AuhtController.js"></script>
<script src="js/controll/CatController.js"></script>
<script src="js/controll/FooterController.js"></script>
<script src="js/controll/controller.js"></script>
<script src="js/controll/servies.js"></script>

</body>
</html>
