<!DOCTYPE html>
<html lang="en" ng-app="AppCtrl">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>SmartMenu - Просмотр блюда</title>
<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/angular-virtual-keyboard.css" rel="stylesheet" type="text/css">
<!-- FONTS -->
</head>
<body >

  <div id="blur" class="ng-class:showCartBlur">
  <header ng-if="showSection" ng-include="'tpl/views/header.html'" ></header>

  <section id="o-wrapper"  class="content" ng-view></section>

  <div ng-if="showSection" class="goback">
    <a href="" ng-click="$root.doTheBack()"><span></span></a>
  </div>

  <footer ng-if="showSection" class="navbar-fixed-bottom" ng-include="'tpl/views/footer.html'" ></footer>

</div>


<div id="menu-basket"  ng-if="showCart" class="menu menu-basket is-active" ng-include="'tpl/views/basket.html'" ></div>
<div id="mask"  ng-if="showMask" ng-click="$root.exitCart()" class="mask is-active"></div>

<!-- JS -->
<script src="js/lib/jquery-1.11.3.min.js"></script>

<!-- Angular JS Lib-->
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-local-storage.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/lib/angular-touch.min.js"></script>
<script src="js/lib/slick.min.js"></script>
<script src="js/lib/slick.js"></script>
<script src="js/lib/ngCart.js"></script>

<!-- Angular JS Controller-->
<script src="js/controll/app.js"></script>
<script src="js/controll/AuhtController.js"></script>
<script src="js/controll/NavController.js"></script>
<script src="js/controll/FooterController.js"></script>
<script src="js/controll/OfferController.js"></script>
<script src="js/controll/ArticleController.js"></script>
<script src="js/controll/BaskedController.js"></script>

<!-- Angular JS Servies-->
<script src="js/Servies/SearchFilter.js"></script>
<script src="js/Servies/ConfigServies.js"></script>
</body>
</html>
